.rabatprodukt {
  position: absolute;
  top: 35%;
  left: 25%;
  background-color: yellow;
  color: black;
  width: 15%;
  text-align: center;
  padding: 2px;
  max-height: 25px;
  visibility: hidden;
}

.rabatprodukt_fr {
  visibility: visible;
}

.udsolgtprodukt {
  position: relative;
  top: -10px;
  left: 0;
  background-color: rgba(0, 0, 0, 0.364);
  color: white;
  width: 100%;
  text-align: left;
  font-size: 50px;
  padding: 2px;
  visibility: hidden;
}

.udsolgtprodukt_fr {
  visibility: visible;
}

.udsolgt_f {
  filter: grayscale();
}

.specifik {
  margin-top: 3rem;
}

/* .flex {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
} */

.titledetalje {
  font-size: 36px;
}

.kurv {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.nummer {
  margin-bottom: 2rem;
}
.tilføjkurv {
  background-color: lightgrey;
  padding: 5px;
  width: 95%;
  height: 100%;
  font-family: "Space Grotesk", serif;
  font-size: 30px;
  margin-top: 2rem;
  border: 5px solid #2e54c6;
  text-decoration: none;
  color: black;
  text-align: center;
}
.tilføjkurv:hover {
  background-color: #2e54c6;
  color: white;
  cursor: pointer;
}

.productContainer img {
  margin-top: 3rem;
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: contain;
}

footer {
  height: 195px;
}

.productContainer {
  background-color: lightgrey;
  margin: 4rem;
  padding-top: 2rem;
}

@media (max-width: 1200px) {
  .productContainer {
    text-align: left;
    margin: 2rem;
    padding-left: 2rem;
    padding-bottom: 2rem;
  }
  .rabatprodukt {
    top: 25%;
    left: 60%;
  }
}

@media (min-width: 1200px) {
  .productContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    background-color: lightgrey;
  }
}

h2 {
  font-size: 30px;
}
h3 {
  font-size: 24px;
}
p {
  font-size: 18px;
}

.bold {
  margin-bottom: 1rem;
}

.shipwarant {
  font-size: 16px;
}
