* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

a {
  color: #2e54c6;
  font-family: "Roboto Serif", serif;
  margin-bottom: 1rem;
}

.category_list_container a {
  background-color: white;
  padding: 50px;
  width: 96%;
  height: 100%;
  font-family: "Space Grotesk", serif;
  font-size: 30px;
  margin-inline: 1rem;
  border: 5px solid #2e54c6;
  text-decoration: none;
  color: black;
  text-align: center;
}

.category_list_container a:hover {
  background-color: #2e54c6;
  color: white;
}

.category_list_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-top: 3rem;
  margin-bottom: 6rem;
}

.hero {
  aspect-ratio: 1200/500;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.hero hr {
  display: block;
  margin: auto;
  width: 90%;

  border-width: 3px;
  border-color: lightgray;
  border-style: solid;
}

.hero h2 {
  font-weight: 600;
  font-size: 40px;
  margin-top: 5rem;
  text-align: center;
}

.kundeservice {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  background-color: lightgray;
}

.kundeservice p {
  font-size: 1.5rem;
  padding: 50px;
}
