img {
  width: 100%;
  aspect-ratio: 9/9;
  object-fit: contain;
}

.produkt_liste_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-template-rows: auto;
  gap: 10px;
}

.rabat {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: white;
  color: black;

  border-style: solid;
  border-color: yellow;
  background-color: yellow;
  border-width: 2px;
  width: 30%;
  text-align: center;
  max-height: 55px;
  visibility: hidden;
}

.rabat_fr {
  visibility: visible;
}

.rabatprodukt_fr {
  visibility: visible;
}

.udsolgt {
  position: relative;
  bottom: 50%;
  left: 0;
  background-color: rgba(0, 0, 0, 0.364);
  color: white;
  width: 100%;
  text-align: center;
  padding: 20px;
  visibility: hidden;
}

.udsolgtprodukt_fr {
  visibility: visible;
}

.udsolgt_f {
  filter: grayscale();
}

.udsolgt_fr {
  visibility: visible;
}

.card {
  border: 2px;
  border-style: solid;
  border-color: lightgrey;
  padding-top: 50px;
}

.card h3,
.card h4,
.card p {
  margin-inline: 20px;
}

.card:hover {
  scale: 1.005;
  box-shadow: 0px 0px 15px 10px lightgray;
  cursor: pointer;
  background-color: lightgray;
}

.buttonProduktliste {
  display: block;
  margin: auto;
  width: 50%;
  height: 50px;
  border-style: solid;
  border-color: #2e54c6;
  background-color: white;
  font-size: 1.5rem;
  margin-top: 25px;
}

.buttonProduktliste a {
  text-decoration: none;
  color: black;
}

.buttonProduktliste:hover {
  background-color: #2e54c6;
  color: white;
}

.buttonProduktliste a:hover {
  background-color: #2e54c6;
  color: white;
}

.buttonProduktliste a:hover {
  color: white;
}

.card h3,
.card p {
  font-size: 1.5rem;
}

.card h4 {
  font-size: 1.2rem;
}

.h1products {
  margin-bottom: 2rem;
}

footer {
  margin-top: 2rem;
}
